body{
    background-color: darkslateblue;
}

form{
    position: relative;
    bottom: 50px;
}

.input-login
.span-login-id{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 60px;
}

.span-login-pwd{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 50px;
}


.span-name{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 70px;
}

.span-id{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 60px;
}

.span-pwd{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 50px;
}


.signup-select{
    width: 100%;
    height: 400px;
    text-align: center;
}


.signup-btn{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-top: 100px;
    margin-right: 300px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px 5px black;
   
}
.signup-btn h3{
    color: white;
    position: relative;
    top: 60px;
}
.input-signup{
    position: relative;
    top:100px;
    display: none;
}
.input-login{
    position: relative;
    color: white;
    top:80px;
    display: none;
}
.login-btn{
    display: inline-block;
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 50px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px 5px black;
    
}
.login-btn > span{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    position: relative;
    top: 70px;
}
.signup-btn > span{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    position: relative;
    top: 70px;
}
.singup-wrapper{
    width: 100%;
    height: 700px;
    text-align: center;
}

.signup-title{
    width: 100%;
    height: 300px;
}
#title-icon{
    position: absolute;
    top : 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.material-icons{
    font-size: 10rem;
    color: white;
}
.title-text{
    position: absolute;
    top : 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    color: white;
}


.member-table-wrap{
    position: relative;
    bottom: 500px;
    left : 1000px;
    display: block;
    z-index: 99;
}
th{
    width: 100px;
    border-bottom: 2px solid blanchedalmond;
}

tr,td{
    border-bottom: 2px solid blanchedalmond;
}

table{
    border: 1px solid white;
}
.login{
    color: darkslateblue;
    background-color: white;
    width: 175px;
    padding-top: 10px;
    font-weight: bold;
    padding-top: 10px;
    display: inline-block;
    border-radius: 10px;
    height: 30px;
}
.show-member{
    padding-top: 10px;
    font-weight: bold;
    color: darkslateblue;
    display: block;
    position: relative;
    width: 175px;
    height: 30px;
    background-color: white;
    left : 670px;
    top: 10px;
    border-radius: 10px;
}
.submit{
    padding-top: 10px;
    background-color: white;
    font-weight: bold;
    color: darkslateblue;
    display: inline-block;
    width: 175px;
    height: 40px;
    border-radius: 10px;
}
